body {
  margin:20px;
  background: rgb(24, 23, 23);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(43, 179, 184, 0.838) ;
  line-height: 2em;
  font-family: 'Courier New', Courier, monospace;
  font-size: smaller;
  word-wrap: break-word;
  

}

body >* {
  width:230px
}

canvas{
  display: none;
}


body>h2{
  /* display: flex; */
  /* flex:1 */
  color: brown;
  width:150px;
  box-sizing: border-box;
}