body {
  margin: 0 auto;
  width: 90%;
  background: rgb(24, 23, 23);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
body > div {
  color: antiquewhite;
}

.showcase {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  margin: 20px;
}
.showcase > div {
  /* border: 1px dotted grey; */
  padding: 10px;
  margin: auto;
}

.guesses {
  margin-top: 2em;
  color: rgba(43, 179, 184, 0.838);
  line-height: 2em;
  /* border: 2px solid green; */
}

.statsData {
  width: 40%;
  /* height: 50%; */
  color: rgba(124, 190, 168, 0.838);
}

.best {
  width: 50%;
  color: rgba(34, 192, 139, 0.838);
  font-size: larger;
}

.target {
  color: rgba(34, 192, 139, 0.838);
}

.header {
  color: rgba(34, 192, 139, 0.838);
  align-self: center;
  padding: 10px;
  font-size: larger;
}

canvas {
  /* display: none; */
}

.guesses > .gg {
  text-align: center;
}

div {
  text-align: left;
}
